<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>List</title>
</head>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>title | name | date</h1>
        </div>
        {% for dto in v_dtoList %}
            <div class="col-sm-12">
                <a href="/view/{{ dto.id }}">{{ dto.title }}</a> | {{ dto.name }} | {{ dto.cdate|date:"D d M Y" }}
            </div>
        {% endfor %}
    </div>
</div>
</body>
</html>